extends layout

block content
  h1= title
  br
  form(id='orderForm')
    | Your name:
    input(type='text', name='name')
    p Please select the ingredients you'd like to have on your burger:
    each ingredient in ingredients
      | #{ingredient.name}, $#{ingredient.cost}
      input(type='checkbox', name='ingredients', value=ingredient._id)
      br
    &nbsp;
    input(type='submit', value='Place your order')
    br
    p(id='hidden', style='color:red') Order submitted!